

<%= render 'shared/header' %>


<div class="container">

  <div class="blog-show-wrapper">

  <h2><%= @blog.title %><br></h2>
  <p><%= @blog.contents %></p>



  </div>

</div>








<%= render 'shared/footer' %>
