
<%= render 'shared/header' %>


<div class="container">

  <div class="user-index-wrapper">





    <h2><%= fa_icon "users" %>All Funs</h2>

    <%= render @users %>



  </div>


</div>


<%= render 'shared/footer' %>
