

<%= render 'shared/header' %>

<div class="container">

  <div class="dance-show-wrapper">


  <p>「 <%= @dance.title %> 」</p>


  <%= video_tag(@dance.dance, :controls => true) %>


  </div>

</div>


<%= render 'shared/footer' %>
