
<%= render 'shared/header' %>


  <div class="page-about">


    <h2>FUN !とは？</h2>


    <p>たくさん歌って、たくさん踊って<br>
        たくさんファンを作り、<br>
        <span>お駄賃感覚</span>（月額330円）で応援し合おう。<br>
        遊びぶように働き、働くように遊ぶ。<br>
        <br>
        そんなサイトです。<br>
        <br>
        Let's enjoy !
    </p>

  </div>








<%= render 'shared/footer' %>
