
<%= render 'shared/header' %>


  <div class="page-about">


    <h2>FUN !とは？</h2>


    <p>たくさん歌って、たくさん踊って<br>
        たくさんファンを作り、<br>
        月額で応援してもらおう。<br>
        このサイトだけで、生活していける。<br>
        そんなサイトです。<br>
        <br>
        ENJOY !  
    </p>

  </div>








<%= render 'shared/footer' %>
