
<%= render 'shared/header' %>

<div class="home-top-image">

  <h1>FUN !</h1>
  <p>歌って、踊って、自分だけのファンクラブを作ろう！</p>

    <% if user_signed_in? %>
      <%= link_to 'はじめる', pages_about_path %>

    <% else %>

    <%= link_to 'はじめる', new_user_registration_path %>

    <% end %>


</div>


<%= render 'shared/footer' %>
