


<!-- <div class="col-md-3">
  <%= link_to image_tag(picture.picture.url), picture_path, :target => "_blank" %>

</div>

 -->


<p>
  <%= picture.created_at.strftime('%Y/%m/%d') %>
&nbsp;
  「 <%= link_to picture.title, picture, :target => "_blank" %> 」
</p>
