
<%= render 'shared/header' %>

<div class="container">

  <div class="picture-show-wrapper">


  <p>「 <%= @picture.title %> 」</p>


  <%= image_tag(@picture.picture.url) %>




  </div>


</div>





<%= render 'shared/footer' %>
