/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 // common


  html {
    height: 100%;


  }

  body {
   height: 100%;


   }


// bootstrap


 .navbar {
  margin-bottom: 0!important;
  background: #e34735;
  background: #e34735;
  border-color: #e34735;
  border-radius: 0;


}

.navbar-nav > li > a {
    color: #fff!important;


}

.open {

  a:focus {
    color: #333!important;

  }
}



.navbar-brand {
    color: #FFF!important;
    font-size: 20px;
}



.navbar-brand {
    padding: 30px 43px;
    font-size: 30px;
    line-height: 0px!important;
    height: 0px!important;

}

.navbar-nav {
  a {
    padding-top: 21px!important;
  }


}

// _header.html.erb

i.fa.fa-music {
    margin-right: 5px;
}


// _footer.html.erb

footer {
  p {
    text-align: center;

  }
  padding-top: 10px;
  padding-bottom: 10px;
  background: #e34735;
  color: #fff;

  a {
    color: #f1f1f1;
  }

  li {
    list-style: none;

  }
}
