// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// home.html.erb


.home-top-image {

  background-image: url("/images/fan5.jpg");
  background-size: cover;
  height: 100%!important;

  h1 {
      margin-top: 0 !important;
      padding-top: 115px;
      padding-bottom: 30px;
      text-align: center;
      font-size: 114px;
  }


  p {
    text-align: center;
    padding-bottom: 70px;
    color: #FFF;

  }

   a {
     text-align: center;
      padding-bottom: 20px;
      color: #fff;
      margin: 0 auto;
      border: 1px solid #e34735;
      width: 200px;
      border-radius: 5px;
      display: block;
      padding-top: 21px;
      font-size: 16px;
      margin-bottom: 155px;
   }
  a:hover {
    color: #e34735;
    transition: all .8s;
    border: none;
    text-decoration: none;
    background: #FFF;
  }
}

// about.html.erb


.page-about {
  background-image: url("/images/fan5.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;

span {
  color: rgb(50, 228, 203);
}

  h2 {
    color: #fff;
    padding-top: 150px;
    margin-bottom: 40px;
    font-size: 50px;
    position: absolute;
    left: 10%;
    margin-top: 0px;
  }

  p {
    margin-bottom: 100px;
    color: #FFF;
    position: absolute;
    left: 15%;
    bottom: 5%;
    font-size: 27px;
  }
}
