// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// show.html.erb


.picture-show-wrapper {
  margin-top: 80px;
  margin-bottom: 100px;



  p {
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
  }
}


img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;

}


// new.html.erb



.new-picture-wrapper {
  background-color: rgb(194, 60, 127);
  border-radius: 7px;
  margin: 0 auto;
  width: 70%;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-bottom: 100px;


  h2 {
    color: #FFF;
    text-align: center;
    margin-bottom: 50px;
  }

  label {
    color: #FFF;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    left: 10%;

  }

  input[type="text"] {
    padding: 5px;
    width: 75%;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;

  }

  input[type="file"] {
    padding: 5px;
    width: 75%;
    margin: 0 auto;
    display: block;
    margin-bottom: 100px;

  }

  input[type="submit"] {
    padding: 10px;
    margin-top: 100px;
    width: 35%;
    margin: 0 auto;
    display: block;

  }

}
