// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// show.html.erb


.user-show-wrapper {
  margin-bottom: 100px;

  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    display: block;

  }
}

.user-show-detail {
  margin-top: 50px;
  margin-bottom: 100px;
}


.fan-count {
  margin-bottom: 30px;
  margin-top: 30px;

  i {
    padding-right: 7px;
  }

}


.edit-user-btn {

  a {
    border: 1px solid #e34735;
    border-radius: 5px;
    text-align: center;
    color: #e34735;
    display: block;
    padding: 7px 8px;
  }

  a:hover {
    text-decoration: none;
    color: #FFF;
    background: #e34735;
    transition: .7s;
  }
}






#blog {
  margin-top: 25px;
}

#home {
  margin-top: 25px;
}
#messages {
  margin-top: 25px;
}

#draw {
  margin-top: 25px;

  img {
    margin-bottom: 30px;

  }
}

// stats.html.erb


.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


// login

.login-wrapper {
  margin: 100px auto;

}



// index.html.erb

.user-index-wrapper {

  margin-top: 100px;
  margin-bottom: 100px;


  i {
    padding-right: 15px;
  }
}

.user-index-loop {
  margin-top: 30px;
  margin-bottom: 30px;

  h3 {
    color: #f1f1f1;
  }

  p {
    color: #f1f1f1;
    margin-bottom: 23px;

  }

  .thumbnail {
    background: #e34735;
  }
}

// signup


.signup-wrapper {
  width: 50%;
  margin: 100px auto;

  h2 {
    margin-bottom: 50px;
  }

  input[type= "email"] {
    width: 100%;
    padding: 5px;

  }

  input[type= "password"] {
    width: 100%;
    padding: 5px;

  }

  input[type= "submit"] {
    width: 20%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
  }



  label {
    margin-bottom: 10px;
    margin-top: 10px;
  }

}


// login


.login-wrapper {

  width: 50%;
  margin: 100px auto;


  h2 {
    margin-bottom: 50px;
  }

  input[type= "email"] {
    width: 100%;
    padding: 5px;

  }


  input[type= "password"] {
    width: 100%;
    padding: 5px;

  }

  input[type= "submit"] {
    width: 20%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
  }



  label {
    margin-bottom: 10px;
    margin-top: 10px;
  }



}
