// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// show.html.erb


.user-show-wrapper {
  margin-bottom: 100px;

  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}


.fan-count {
  margin-bottom: 100px;

  
  p {
    margin: 0 auto;
    width: 50%;

  }
}


// login

.login-wrapper {
  margin: 100px auto;

}
