// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// show.html.erb


.user-show-wrapper {
  margin-bottom: 100px;

  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    display: block;

  }
}

.user-show-detail {
  margin-top: 50px;
  margin-bottom: 50px;
}


.fan-count {
  margin-bottom: 100px;
  margin-top: 30px;

  i {
    padding-right: 7px;
  }

}


#blog {
  margin-top: 25px;
}

#home {
  margin-top: 25px;
}
#messages {
  margin-top: 25px;
}

#draw {
  margin-top: 25px;

  img {
    margin-bottom: 30px;

  }
}


// login

.login-wrapper {
  margin: 100px auto;

}



// index.html.erb

.user-index-wrapper {

  margin-top: 100px;
  margin-bottom: 100px;


  i {
    padding-right: 15px;
  }
}

.user-index-loop {
  margin-top: 30px;
  margin-bottom: 30px;
}
