
<%= render 'shared/header' %>

<div class="container">


<div class="music-show-wrapper">



  <p>タイトル： <%= @music.title %></p>

    <%= audio_tag(@music.music, controls: true) %>


</div>



</div>

<%= render 'shared/footer' %>
